<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optimasi Pohon Jeruk dan Apel</title>
</head>
<body>
    <h2>Solusi Optimal</h2>
    Jumlah pohon jeruk: {{ result_x }}
    </br>Jumlah pohon apel: {{ result_y }}
    </br>Keuntungan maksimal: Rp {{ profit }}
    </br>
    <h2>Grafik:</h2>
    <img src="data:image/png;base64,{{ plot_url }}" alt="Grafik Optimasi">
</body>
</html>
